@charset "UTF-8";
html, body {
  height: 100%;
  background-color: #f5f5f5;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
}

a {
  color: #3071b9;
}

textarea.form-control {
  height: 100px;
}

::-moz-selection {
  background: #3071b9;
  color: #fff;
}

::selection {
  background: #3071b9;
  color: #fff;
}

::-moz-selection {
  background: #3071b9;
  color: #fff;
}

::-webkit-selection {
  background: #3071b9;
  color: #fff;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.clearfix, .overflow, .overflow-x {
  overflow: hidden;
  zoom: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.navbar-default {
  box-shadow: 0 0 8px #ccc;
  -ms-box-shadow: 0 0 8px #ccc;
  -moz-box-shadow: 0 0 8px #ccc;
  -webkit-box-shadow: 0 0 8px #ccc;
}

.navbar-default .navbar-brand {
  padding: 15px;
}

.navbar-default .navbar-nav > li > a {
  padding: 15px;
}

.navbar-default .navbar-nav > li > a:hover {
  background: #fff;
}

.navbar-default .navbar-form {
  margin: 8px 0;
}

.breadcrumb {
  background-color: inherit;
  padding-left: 0;
  margin-bottom: 10px;
}

.wrap {
  position: relative;
  height: auto;
  min-height: 100%;
}

.footer {
  background-color: #fff;
  margin-top: 22px;
  width: 100%;
  padding-top: 22px;
  color: #8A8A8A;
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  height: 180px;
}

.footer h4 {
  color: #8A8A8A;
  font-weight: 300;
  font-size: 18px;
}

.video-play-btn {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -17px;
  background: url("../image/video_playicon.png");
  margin-top: -14px;
  z-index: 999;
}

.video-times {
  position: absolute;
  right: 0;
  bottom: 10px;
  z-index: 200;
  color: #a5a5a5;
  background: rgba(32, 32, 32, 0.61);
  height: 20px;
  line-height: 20px;
  padding: 1px 5px;
}

.xd-text-select span {
  height: 22px;
  margin-right: 5px;
}

.xd-text-select span a {
  color: #666;
  padding: 2px 5px;
  font-size: 14px;
}

.xd-text-select span.on a {
  background: #3071b9;
  color: #FFF;
}

.xd-no-margin {
  margin: 0 !important;
}

.xd-pb-10 {
  padding-bottom: 10px !important;
}

.xd-font-size-22 {
  font-size: 22px !important;
}

.xd-pb-15 {
  padding-bottom: 15px !important;
}

.xd-mb-15 {
  margin-bottom: 15px !important;
}

.xd-color-666, .xd-color-666 a, a.xd-color-666 {
  color: #666 !important;
}

.xd-color-333, .xd-color-333 a, a.xd-color-333 {
  color: #333 !important;
}

.xd-mr-30 {
  margin-right: 30px !important;
}

.xd-mrl-30 {
  margin-right: 30px;
  margin-left: 30px;
}

.xd-title-new {
  height: 30px;
  font-size: 18px;
}

.navbar-white {
  background-color: #fff;
}

.nav-white li.active a {
  background: #00b5ad;
  border: 1px solid #ddd;
}

.nav-white li.active a:hover, .nav-white li.active a:focus, .nav-white li.active a:link, .nav-white li.active a:active {
  background: #00b5ad;
  border: 1px solid #ddd;
}

.nav-white li a {
  background: #fff;
}

.xd-nav a {
  color: #555;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 0;
}

.xd-nav a:first-child {
  border-top: 1px solid #f2f2f2;
}

.xd-nav a.active {
  background-color: #00b5ad;
  border-color: #00b5ad;
}

.xd-nav a.active:hover, .xd-nav a.active:link, .xd-nav a.active:focus, .xd-nav a.active:active {
  background-color: #00b5ad;
  border-color: #00b5ad;
}

.no-margin-top {
  margin-top: 0;
}

.btn-primary {
  background-color: #00b5ad;
  border-color: #00b5ad;
}

.course-list .course-item {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  border-radius: 4px;
  border: 1px solid #e4ecf3;
  background-color: #fff;
}

.course-list .course-item .course-img {
  position: relative;
  overflow: hidden;
}

.course-list .course-item .course-img a {
  display: block;
}

.course-list .course-item .course-img .img-responsive {
  width: 100%;
  padding: 0;
}

.course-list .course-item .title {
  margin-top: 10px;
  padding: 0 10px;
  display: block;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.course-list .course-item .title a:hover, .course-list .course-item .title a:link, .course-list .course-item .title a:active, .course-list .course-item .title a:focus {
  text-decoration: none;
}

.course-list .course-item .metas {
  position: relative;
  padding: 10px;
  color: #c1c1c1;
}

.course-list .course-item .metas i {
  margin-right: 3px;
}

.course-list .course-item .metas .comment {
  display: inline-block;
  margin-left: 10px;
}

@media (min-width: 992px) {
  .course-list .course-item {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .course-list .course-item:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.link-dark {
  color: #313131 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box {
  background-color: #fff;
  padding: 10px;
  margin: 0 0 20px 0;
  box-shadow: 0 0.2em 0 0 #ddd, 0 0 0 1px #ddd;
}

.list-group {
  margin-bottom: 0;
}

.list-group .list-group-item {
  border-radius: 0;
}

.padding-md {
  padding: 15px;
}

.border-eee {
  border: 1px solid #eee;
}

.panel-white {
  background-color: #fff !important;
}

.xd-message {
  height: 50px !important;
  resize: none;
  font-size: 12px;
}

.xd-message-btn {
  height: 50px;
}

.errors {
  border-radius: 0;
}

.errors ul {
  padding: 0;
}

.errors li {
  list-style: none;
}

.nav-avatar {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: -5px;
  border: 1px solid white;
  border-radius: 50%;
}

.video-content {
  margin: 0 15px;
}

.video-content .video-view, .video-content .video-tab {
  padding: 0;
}

.video-content .video-player {
  height: 100%;
}

.video-content .video-view {
  background-color: #000;
  position: relative;
  height: 500px;
}

.video-content .video-tab {
  height: 500px;
  background-color: #212121;
  color: #ffffff;
}

.video-content .video-tab .tab-title {
  margin: 0;
  font-size: 16px;
  font-weight: lighter;
  width: 50%;
  height: 60px;
  line-height: 60px;
}

.video-content .video-tab-content ul {
  padding: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.video-content .video-tab-content .tab-item {
  padding: 10px 20px 10px 15px;
  margin: 0;
}

.video-content .video-tab-content img {
  width: 118px;
  border-radius: 4px;
}

.video-content .title {
  display: inline-block;
  padding-bottom: 8px;
  max-height: 42px;
  line-height: 21px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(255, 255, 255, 0.8);
}

.video-content .title:hover {
  text-decoration: none;
  color: #46c37b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.video-content .num {
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  height: 21px;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
