// body和html样式
html, body {
  height: 100%;
  background-color: #EAEAEA;
}
// 修改选中文本的颜色
::selection { background: #3071b9; color: #fff;}
::-moz-selection { background: #3071b9; color: #fff;}
::-webkit-selection { background: #3071b9; color: #fff;}
// 浮动
.fl {
  float: left;
}
.fr {
  float: right;
}
// 清除浮动
.clearfix {
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}
// 修改默认导航颜色为白色
.navbar-default {
  background-color: #fff;
  box-shadow: 0 0 8px #ccc;
  -ms-box-shadow: 0 0 8px #ccc;
  -moz-box-shadow: 0 0 8px #ccc;
  -webkit-box-shadow: 0 0 8px #ccc;
}
// 修改面包屑导航颜色
.breadcrumb {
  background-color: #fff;
}
// 交换空间
.wrap {
  position: relative;
  height: auto;
  min-height: 100%;
}
// 固定底部信息到底部
.footer {
  background-color: #f00;
  margin-top: 22px;
  width: 100%;
  padding-top: 22px;
  color: #8A8A8A;
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  height: 160px;
}
// 作品
.video-play-btn {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -17px;
  background: url("../image/video_playicon.png");
  margin-top: -70px;
  z-index: 999;
}
.xd-text-select {
  span {
    height: 22px;
    margin-right: 5px;
    a {
      color: #666;
      padding: 2px 5px;
      font-size: 14px;
    }
  }
  span.on {
    a {
      background: #3071b9;
      color: #FFF;
    }
  }
}